body {
  background-color: #FAFAFA; }

a {
  display: block; }

.twitch {
  margin: 0 auto;
  width: 520px;
  font-family: 'Open Sans';
  background-color: white; }

.twitch__logo {
  background-image: url(http://vignette4.wikia.nocookie.net/logopedia/images/2/26/Twitch_logo.svg/revision/latest?cb=20140727180649);
  height: 100px;
  width: 300px;
  background-size: cover;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px; }

.twitch a {
  text-decoration: none;
  color: black; }

.twitch__online-output td {
  padding: 30px;
  border-spacing: 7px 11px;
  position: relative; }

.twitch__offline-output td {
  padding: 30px;
  position: relative; }

span {
  display: block; }

.online {
  width: 5px;
  height: 5px;
  background-color: green;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  top: 50px;
  left: 5px; }

.offline {
  width: 5px;
  height: 5px;
  background-color: red;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  top: 50px;
  left: 5px; }

.notex {
  width: 5px;
  height: 5px;
  background-color: grey;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  top: 50px;
  left: 5px; }

.twitch__btn-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #6441A5;
  -webkit-border-radius: 2px;
          border-radius: 2px; }

.twitch__btn-group a {
  color: white; }

.btn {
  display: block;
  letter-spacing: 0.7px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  margin-right: 40px; }

.btn:nth-child(1) {
  margin-left: 20px; }

.triangle {
  position: absolute; }

img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-border-radius: 50%;
          border-radius: 50%; }
