body {
    background-color: #FAFAFA;
}

a {
    display: block;
}


.twitch {
    
    margin: 0 auto;
    width: 620px;
    font-family: 'Open Sans';
    background-color: white;
  
    
    
}

.twitch__logo {
    
    background-image: url(http://vignette4.wikia.nocookie.net/logopedia/images/2/26/Twitch_logo.svg/revision/latest?cb=20140727180649);
    height: 100px;
    width: 300px;
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 30px;
     margin-top: 30px;
}
.twitch a {
 
    text-decoration: none;
  color:black;

    
}

.twitch p {}
.twitch__online-output  td {
    

    padding: 30px;
   border-spacing: 7px 11px;
    position: relative;

}
.twitch__offline-output  td  {
    
 
   padding: 30px;
    position: relative;
   
  

}


span {
    display: block;
}
.online {
    width:10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    
}
.offline {
    width:10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
}
.notex {
    width:10px;
    height: 10px;
    background-color: grey;
    border-radius: 50%;
    

}

.twitch__btn-group {
    display: flex;
    justify-content: space-around;
    background-color: #6441A5;
       border-radius: 2px;
    padding: 18px;
  
}


.twitch__btn-group a {
   color: white;
  
  
}

.btn {
    display: block;

   
    letter-spacing: 0.7px;
    text-align: center;
  
    font-size: 14px;
    
}

.btn:nth-child(1) {
    
  
}

.triangle {
    position: absolute;
}

img {
    width:50px;
    height: 50px;
  

    border-radius: 50%;
}